.add-book {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &__label {
      width: 100px;
    }

    &__icon {
      cursor: pointer;
      margin: 8px;
      width: 32px;
      height: 40px
    }

    &__icon.add-book__row__icon--uploaded {
      opacity: 0.5;
    }

    &__input {
      padding: 12px 18px;
    }
  }
}

.display-none {
  display: none;
}
