.home {
  width: 1024px;

  .empty-library {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      width: 20%;
      height: 20%;
    }

    &__text {
      margin-top: 16px;
    }
  }
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}
