@import "./shared/styles/Palette.scss";
@import "./shared/styles/Button.scss";

.app {
  min-height: 100vh;
  color: $main-font;
  background-color: $main-background;

  display: flex;
  flex-direction: column;
  align-items: center;
}
